body{
    background-color: #FFFFF7 !important;
    overflow-x: hidden;
}

.services {
    padding: 8rem;
    margin: 5rem;
}

.team-img {
    width: 14rem !important;
    height: auto;
    margin: 0;
    align-items: center;
    object-fit: contain;
}
.brand-img{
    width: auto !important;
    height:90% !important;
    margin: 0;
    object-fit: contain;
}
.slider_center_image{
    height:500px !important;
  }
  @media only screen and (min-width: 1910px) {
    .slider_center_image{
        height:640px !important;
      }
  }

  @media only screen and (max-width: 1110px) {
    .slider_center_image{
        height:300px !important;
      }
      .service_text::before{
        font-size:17px !important;
        color:black !important;
        font-weight: 600;
        margin:41px;
    }
  }
.card{

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height:100% !important
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    transition: .3s;
    border-radius:40px;
    
}

.service_text{
    font-size:57px !important;
    color:black !important;
    font-weight: 600;
    margin:40px;
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
}
.service_text::before {
    content: "Education";
    animation: animate infinite 31s;
     
}

@keyframes animate {

    0% {
        content: "Hospitality";
    }

    25% {
        content: "Application Development";
    }
    50% {
        content: "2D Animation";
    }
    75% {
        content: "UI & UX";
    }
}